h1{
  color: black;
  text-align: center;
  background-color: blueviolet;
  width: 50%;
  padding-left: 500px;
}
h2{
  color: blue;
  text-align: center;
  background-color: blanchedalmond;
  width: 50%;
  padding-left: 500px;
}
